.venv/
.env

__pycache__/
*.pyc

Backend/src/tts/engines/MeloTTS/

Backend/src/llm/engines/gemini/

Backend/src/llm/engines/kobold/

memory/

.vscode/

vts_token.txt

weight.json

Frontend/node_modules/